<div class="row">
      <div class="span12">
        <h2>Services offered!</h2>
      </div>
</div>

<div class="row">
      <div class="span12">
        <h2><%= image_tag 'paperplane.png' %></h2>
      </div>
</div>


<div class="row">
      <div class="span12">
        <h3 class="subtitle">
          <strong>
            Click one below to subscribe. You can choose others after.
          </strong>
        </h3>
      </div>
</div>

<br>
<br>

<% @products.each do |product| %>
<div class="box drop-shadow">
      <div class="row">
        <div class="span4">
          <%= image_tag product.photo.url(:small) %>
        </div>
        <div class="span7">
          <h2><%= product.active %></h2>
          <h3 class="price">Monthly:$<%= product.price %></h3>
          <p><%= product.teaser %></p>
          <%= link_to 'More Info...', product %>
          <%= link_to "Subscribe", new_user_registration_path(:product => product.id) %>
        </div>
      </div> <!-- /row -->
</div>
</br>
</br>
<% end %>
<br />

