<div class="row">
      <div class="span12">
        <h2>Subscriptions</h2>
      </div>
</div>

<div class="row">
      <div class="span12">
        <h2><%= image_tag 'paperplane.png' %></h2>
      </div>
</div>


<div class="row">
      <div class="span12">
        <h3 class="subtitle">
          <strong>
            Click one below to subscribe. You can choose others after.
          </strong>
        </h3>
      </div>
</div>

<br>
<br>

<% @products.each do |product| %>
<div class="box drop-shadow products">
      <div class="row">
        <div class="span4">
          <%= image_tag product.photo.url(:small) %>
        </div>
        <div class="span7">
          <h2><%= product.name %></h2>
          <div class="price"><b>Monthly:</b> $<%= product.price.round %></div>
          <p><%= product.teaser %></p>
          <%= link_to 'More Info...', product, :class => "more" %>
          <br>
          <br>
          <% if product.active == true %>
            <%= link_to "Subscribe", new_user_registration_path(:product => product.id), :class => 'btn btn-primary' %>
          <% else %>
             Coming Soon...
          <% end %>
        </div>
      </div> <!-- /row -->
</div>
</br>
</br>
<% end %>
<br />

