<p id="notice"><%= notice %></p>
<div class="row">
	<div class="span12">
		<h2><%= @product.name %></h2>
	</div>
</div>

<div class="row">
	<div class="span12">
		<h2><%= image_tag @product.photo.url(:small) %></h2>
	</div>
</div>

<div class="row">
	<div class="span12">
		<h3 class="subtitle"><strong>Simple, affordable solutions</strong></h3>
	</div>
</div>

<div class="row">
	<div class="leftside span3 offset1">
	<div class="price">
			<strong>Monthly Cost:</strong> $<%= @product.price.round %>
		</div>
		</br>
		  <%= product_sell_button(@product) %>
	</div>
	<div class="span6 media">
	  <%= @product.fulltext %>
	</div>
</div>
