<!DOCTYPE html>
<html>
<head>
  <title>Signup</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
		<%= render 'shared/topnav' %>

		<% flash.each do |key, value| %>
		  <div class="alert alert-<%= key %>"><%= value %></div>
		<% end %>
		<%= yield %>

		<%= render 'shared/footer' %>
	</div>
</body>
</html>
